<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../../static/css/core.css" />
</head>
<body>
 <div class="navbar" th:fragment="navbar">
  <div class="nav-content">
   <div class="nav-home"><a href="">ShExJava</a></div>
   <div class="nav-prim">
    <a href="about">About</a>
    <a href="demonstrator">Demonstrator</a>
    <a href="documentation">Documentation</a>
    <a href="download">Download</a>
   </div>
  </div>
</div> 
</body>
</html>


