<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ShExJava: a java implementation of ShEx</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/css/core.css" />
    <script src="/js/examples.js"></script>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="content">
        <h1>Demonstrator</h1>
        <form action="#"  th:action="@{/demonstrator}" th:object="${request}" method="POST">
             Predefined example:
             <select th:field="*{predefined}" onchange="loadExample()">
                 <option value="empty">Empty example</option>
                 <option value="Simple ShExC example">Simple ShExC example</option>
                 <option value="Simple ShExR example">Simple ShExR example</option>
                 <option value="Names (ShExC)">Names: ShapeOr in ShExC</option>
                 <option value="Names (ShExJ)">Names: ShapeOr in ShExJ</option>
                 <option value="Bug report (ShExC)">Bug report: EachOf, OneOf, Cardinality in ShExC</option>
                 <option value="Bug report (ShExJ)">Bug report: EachOf, OneOf, Cardinality in ShExJ</option>
                 <option value="Datatypes (ShExC)">Datatypes constraint in ShExC</option>
             </select> 
             <table>
                <tr>
                    <td>Schema</td>
                    <td>Data</td>
                </tr>
                <tr>
                    <td><textarea rows="20" cols="80" th:field="*{schema}"/></td>
                    <td><textarea rows="20" cols="80" th:field="*{data}"/></td>
                </tr>
                <tr>
                    <td>Schema format:
                         <select th:field="*{schemaformat}">
                             <option value="ShExC">ShExC</option>
                             <option value="ShExJ">ShExJ</option>
                             <option value="ShExR(TURTLE)">ShExR(TURTLE)</option>
                             <option value="ShExR(JSONLD)">ShExR(JSONLD)</option>
                             <option value="ShExR(NTRIPLES)">ShExR(NTRIPLES)</option>
                             <option value="ShExR(RDF/JSON)">ShExR(RDF/JSON)</option>
                             <option value="ShExR(RDF/XML)">ShExR(RDF/XML)</option>
                             <option value="ShExR(TRIG)">ShExR(TRIG)</option>
                         </select> 
                    </td>
                    <td>Data format:
                         <select th:field="*{dataformat}">
                             <option value="TURTLE">TURTLE</option>
                             <option value="JSONLD">JSONLD</option>
                             <option value="NTRIPLES">NTRIPLES</option>
                             <option value="RDF/JSON">RDF/JSON</option>
                             <option value="RDF/XML">RDF/XML</option>
                             <option value="TRIG">TRIG</option>
                          </select> 
                    </td>
                </tr>
                <tr>
                    <td  colspan = "2">
                        Validation Algorithm:
                        <select th:field="*{algorithm}"  onchange="changeRecursive()">
                             <option value="refine">Refine validation (compute a typing for the objects of the graph againt the shape expression of the rules map)</option>
                             <option value="recursive">Recursive validation (test if a node has a ShapeExpr)</option>
                        </select>
                     </td>
                </tr>
                <tr>
                     <td colspan = "2">
                        <div id ="recursive" th:style="${request.algorithm == 'recursive' ?  'display: block' : ' display: none'}">
                            Focus node: <input type="text" th:field="*{node}"/><br/>
                            Shape: <input type="text" th:field="*{shape}"/>
                        </div>
                     </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Validate"/>
                    </td>
                </tr>
            </table>
        </form>
        <div th:if="${(result.result != null) || (result.error != null)}">
            <h2> Result: </h2>
            <span th:text="${result.error != null} ? ${result.error}:''">Error display</span>
            <div th:if="${result.result != null}">
                <div class="result">
                    <table >
                        <tr>
                            <td>Node</td>
                            <td>Shape</td>
                            <td>Message</td>
                        </tr>
                        <tr th:each="res:${result.result}">
                            <td th:text="${res.node}"></td>
                            <td th:text="${res.shapeLabel}" th:style="${res.result ? 'background-color:#ccffcc':'background-color: #ff9999'}"></td>
                            <td th:text="${res.message}"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
<script type="text/javascript">
changeRecursive()
</script>
